*{
	margin: 0; 
    padding: 0; 
    list-style: none; 
	border:0;
}

body{
	width: 100%;
	height: 100%;
	font-family:"微软雅黑";
	background: url(../images/597.jpg) no-repeat center center fixed;
	background-size: cover;
}

.head{
	margin-top: -30px;
}

a:link,a:visited{
	color:#fff; 
	text-decoration:none;
}

a:hover{
	color:white;
}


.head .daohan{
	display: block;
	padding-top: 38px;
}

.daohan .down{
	position: relative;
	display: inline-block;
}

.down:hover .choices{
	display: block;
}

.butn{
	background-color: rgba(255, 255, 255, 0);
	color: white;
	padding: 4px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-align: center;
}

.choices{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 138px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.choices a{
	color:black;
	padding-top: 5px;
	padding-left: 9px;
	padding-bottom: 23px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.choices a:hover{
	text-decoration: underline;
}

.butn:hover{
	text-decoration: underline;
}

li{
    float:right;
}

li a{
	font-weight: normal;
	display:block; 
	height:10px; 
	width:80px; 
	text-align:center; 
	line-height:30px;
}

li a:hover{
	text-decoration: underline;
	
}


.ret{
	width:100%;
	height:60px;
	background: rgba(168, 205, 228, 0.479);
}

.ret img{
	margin: 10px 20px 0px 20px;
}

.box{
	margin-top: 30px;
	height:550px;
}

.dlu{
	color:white;
	width: 600px;
	height: 450px;
	border: 1px solid rgb(78, 175, 226);
	background:rgba(168, 205, 228, 0.851);
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0 0 15px 13px rgba(78, 175, 226, 0.346);
}


.dlu .left{
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	width:40%;
	height:100%;
	background:url(../images/login_left.png) no-repeat;
	background-size:cover;
}

.dlu .right{
	text-align:center;
}

.dlu .right h3{
	margin-top:50px;
	font-size:30px;
}


#one{
	outline: none;
	width: 225px;
	padding-left: 20px;
	height: 35px;
	margin-top: 30px;
	background:rgba(0, 0, 0, 0);
	border-radius: 3px;
	border:none;
	border-bottom: 1px solid rgb(40, 144, 218);
}


#two{
	outline: none;
	width: 225px;
	padding-left: 20px;
	height: 35px;
	margin-top: 30px;
	background:rgba(0, 0, 0, 0);
	border-radius: 3px;
	border:none;
	border-bottom: 1px solid rgb(40, 144, 218);
}

#three{
	border: 1px solid #A4A1B5;
	width:100px;
	height: 35px;
	background:rgb(62, 160, 205);
	color:white;
	margin-top: 23px;
	border-radius: 5px;
}





#one,#two:focus{
	color:#666;
}


.register{
	display: flex;
	margin-top:20px;
	justify-content: space-between;
}

.register a{
	color:#666;
	padding:10px 55px;
	text-decoration:none;
}

::placeholder{
	color:#666;
}

.right .register a:hover{
	color:rgb(47, 174, 216);
}

.footer{
	height:40px;
	margin:0 auto;
	color:white;
	text-align:center;
	font-size:14px;
	line-height:90px;
	background-size: cover;
	}